/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 1440px;
    min-height: 4146px; /* Altura mínima de la imagen */
    background: url('../images/home1.svg') no-repeat center top;
    background-size: cover;
}
